.container2 {
    display: flex;
    justify-content: center;
}


footer{
    text-align: center;
    padding: 100px;
    color: #4E3636;
    font-size: 2rem;
    margin-right: 100px;
}

body {
    background-color: #116D6E;
    font-family: "Protest Revolution", serif;
}

h1 {
    text-align: center;
    color: #321E1E;
    font-size: 5rem;
}

p{
    color: #4E3636;
    font-size: 3em
}

.dice {
    margin-right: 100px; /* Adjust spacing as needed */
    text-align: center;
  }
